<h1>List of Categories</h1>
<%= link_to 'Add Category', action: 'new' %><br>

<% @categories.each do |category| %>
  <%= link_to category.name, action: 'show', id: category.id %>
  <%= link_to 'Edit', action: 'edit', id: category.id, from: 'index' %>
  <%= link_to 'Delete', {action: 'destroy', id: category.id}, method: :delete %><br>
<% end %>

<%= link_to 'Main page', controller: 'home', action: 'index' %>